<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <title> TA </title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen"
          href="{{ url_for('static', filename = 'bootstrap/css/bootstrap.min.css') }}">

    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen"
          href="{{ url_for('static', filename = 'smartadmin/css/smartadmin-production-plugins.min.css') }}">
    <link rel="stylesheet" type="text/css" media="screen"
          href="{{ url_for('static', filename = 'smartadmin/css/smartadmin-production.min.css') }}">
    <link rel="stylesheet" type="text/css" media="screen"
          href="{{ url_for('static', filename = 'smartadmin/css/smartadmin-skins.min.css') }}">
    <link rel="stylesheet" type="text/css" media="screen"
          href="{{ url_for('static', filename = 'smartadmin/css/smartadmin-rtl.min.css') }}">
    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen"
          href="{{ url_for('static', filename = 'smartadmin/css/demo.min.css') }}">

    <link rel="stylesheet" type="text/css" media="screen"
          href="{{ url_for('static', filename = 'toast/chart/css/tui-chart.min.css') }}"> <!-- Toast-ui Chart v3.7.0 -->
    <link rel="stylesheet" type="text/css" media="screen"
          href="{{ url_for('static', filename = 'toast/grid/css/tui-grid.css') }}"> <!-- Toast-grid Chart v3.7.0 -->

    <link rel="stylesheet" type="text/css" media="screen"
          href="{{ url_for('static', filename = 'common/css/common.css') }}">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename = 'image/favicon.ico') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'image/favicon.ico') }}">

    <link rel="stylesheet" type="text/css" media="screen"
          href="{{ url_for('static', filename = 'common/font/font-awesome.min.css') }}"> <!-- Default Font -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'common/font/font.css') }}">
    <!-- Default Font -->

</head>
<body class="">

<header id="header">
    <div id="logo-group">
        <span id="logo">TA 분석 모델링</span>
    </div>

    <div class="pull-right">
        <div id="hide-menu" class="btn-header pull-right">
            <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i
                    class="fa fa-reorder"></i></a> </span>
        </div>

        <form action="#" class="header-search pull-right">
            <input id="search-fld" type="text" name="param" placeholder="Find reports and more" data-autocomplete='[
					"test1",
					"test2",
					"test3",
					]'>
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>

        <div id="fullscreen" class="btn-header transparent pull-right">
            <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i
                    class="fa fa-arrows-alt"></i></a> </span>
        </div>
    </div>
</header>

<aside id="left-panel" style="background: none; background-color: #fff;">
    <div class="login-info" style="background-color: #474544; border-width: 0.5px 0;">
        <span>
            <a href="javascript:void(0);">
                <span class="login-info-name">
                    홍길동님 환영합니다.
                </span>
            </a>
        </span>
    </div>

    {#    <nav>#}
    {#        <ul>#}
    {#            <li class="active open">#}
    {#                <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">분석 모델 선택</span></a>#}
    {#                <ul style="display: block;">#}
    {#                    <li class="active">#}
    {#                        <a href="#" title=""><span class="menu-item-parent">신규 고객 모델링</span></a>#}
    {#                    </li>#}
    {#                    <li>#}
    {#                        <a href="#" title=""><span class="menu-item-parent">이탈 고객 모델링</span></a>#}
    {#                    </li>#}
    {#                    <li class="">#}
    {#                        <a href="#" title=""><span class="menu-item-parent">VOC 분석 모델링</span></a>#}
    {#                    </li>#}
    {#                    <li class="">#}
    {#                        <a href="#" title=""><span class="menu-item-parent">고객 반응 분석 모델링</span></a>#}
    {#                    </li>#}
    {#                </ul>#}
    {#            </li>#}
    {#        </ul>#}
    {#    </nav>#}

    <div>
        <div>
            <div class="widget-body no-padding smart-form">
                <div class="file-upload">
                    <div>
                        <span class="file-upload-name">CSV 업로드</span>
                        <a href="javascript:void(0);" class="btn btn-primary btn-xs file-upload-btn"
                           type="file">Upload</a>
                    </div>
                </div>
                <fieldset id="fileInfo" style="width:75%;margin-left:5%;display:none;">
                    <section>
                        <label class="label">File Name</label>
                        <div>
                            <input class="form-control" type="text" name="path" id="path" disabled="disabled">
                        </div>
                    </section>
                    <section>
                        <label class="label">Train Column</label>
                        <div>
                            <input class="form-control" type="text" name="train" id="train" disabled="disabled">
                        </div>
                    </section>
                    <section>
                        <label class="label">Prediction Column</label>
                        <div>
                            <input class="form-control" type="text" name="prediction" id="prediction"
                                   disabled="disabled">
                        </div>
                    </section>
                </fieldset>
            </div>
        </div>
    </div>
</aside>
<div id="main" role="main">
    <div id="ribbon">
        <ol class="breadcrumb">
            <li>Home</li>
            <li>TA 분석 모델링</li>
        </ol>
    </div>
    {#    <div id="ribbon" class="filter">#}
    {#        <div class="smart-form">#}
    {#            <div class="inline-group">#}
    {#                <label class="date-label-left" style="padding-top: 10px !important;">Layout</label>#}
    {#                <label><a href="#"><i class="fa fa-stop filter-layout"></i></a></label>#}
    {#                <label><a href="#"><i class="fa fa-pause filter-layout"></i></a></label>#}
    {#                <label><a href="#"><i class="fa fa-th-large filter-layout"></i></a></label>#}
    {#                <label><a href="#"><i class="ni ni-grid filter-layout"></i></a></label>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    <div id="content">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <!-- <h1 class="page-title">분석 결과</h1> -->
            </div>
        </div>

        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false"
                         data-widget-deletebutton="false"
                         data-widget-fullscreenbutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                            <h2>TA 분석 모델링 결과</h2>
                        </header>
                        <div>
                            <div class="jarviswidget-editbox">
                            </div>
                            <div class="widget-body no-padding">
                                <div id="line-chart-test" class="chart"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-2" data-widget-editbutton="false"
                         data-widget-deletebutton="false"
                         data-widget-fullscreenbutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                            <h2>TA 분석 모델링 결과</h2>
                        </header>
                        <div>
                            <div class="jarviswidget-editbox">
                            </div>
                            <div class="widget-body no-padding">
                                <div id="bar-chart-test" class="chart"></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>

<div id="dialog_simple" title="Dialog Simple Title">
    <div class="widget-body">
        <div id="bootstrap-wizard-1" class="col-sm-12">
            <div class="form-bootstrapWizard">
                <ul class="bootstrapWizard form-wizard">
                    <li class="active" data-target="#step1">
                        <a href="#tab1" data-toggle="tab" aria-expanded="true" class="cancelEvent"> <span
                                class="step">1</span> <span class="title">CSV Upload</span> </a>
                    </li>
                    <li data-target="#step2" class="">
                        <a href="#tab2" data-toggle="tab" aria-expanded="false" class="cancelEvent"> <span class="step">2</span>
                            <span class="title">신규 모델 생성</span> </a>
                    </li>
                    <li data-target="#step3" class="">
                        <a href="#tab3" data-toggle="tab" aria-expanded="false" class="cancelEvent"> <span class="step">3</span>
                            <span class="title">CSV 설정</span> </a>
                    </li>
                    <li data-target="#step4" class="">
                        <a href="#tab4" data-toggle="tab" aria-expanded="false" class="cancelEvent"> <span class="step">4</span>
                            <span class="title">설정 완료</span> </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="tab-content">
                <div id="loading_oh" style="position: absolute;margin: 10% 20% 0% 40%;z-index:1;">
                    <table width="auto" height="auto" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="center"><img src="{{ url_for('static', filename = 'image/loading.gif') }}"
                                                    border="0"><br><b><font color="black">잠시만 기다려 주세요</font></b></td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane active" id="tab1">
                    <br>
                    <h3><strong>Step 1 </strong> - CSV File Upload</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <!-- start -->
                                <form id="order-form" class="smart-form" enctype="multipart/form-data" method="POST">
                                    <div class="input input-file">
                                        <span class="button">
                                        <input id="file2" type="file" name="file2"
                                               onchange="this.parentNode.nextSibling.value = this.value">Browse</span><input
                                            id="filePath" type="text" placeholder="Include some files" readonly="">
                                    </div>
                                </form>
                                <!--end-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab2">
                    <br>
                    <h3><strong>Step 2</strong> - 신규 모델 생성</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <form id="contact-form" method="post" class="smart-form" novalidate="novalidate">
                                    <label class="label">모델명</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-tag"></i>
                                        <input type="text" name="modelName" id="modelName">
                                    </label>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="smart-form">
                                <div class="col-md-12">
                                    <label class="select">알고리즘 선택</label>
                                    <select class="form-control" id="classifier_algorithm">>
                                        <option value="bagging">BaggingClassfier</option>
                                        <option value="bernoulinb">BernouliNB</option>
                                        <option value="decisiontree">DecisionTreeClassifier</option>
                                        <option value="extratree">ExtraTreeClassifier</option>
                                        <option value="extratrees">ExtraTreesClassifier</option>
                                        <option value="gaussiannb">GaussianNB</option>
                                        {#                                        <option value="gaussianprocess">#}
                                        {#                                            GaussianProcessClassifier(Only Model)#}
                                        {#                                        </option>#}
                                        <option value="gradientboosting">
                                            GradientBoostingClassifier
                                        </option>
                                        <option value="kneighbors">KNeighborsClassifier</option>
                                        <option value="linearsvc">LinearSVC</option>
                                        <option value="logisticregression">LogisticRegression
                                        </option>
                                        <option value="mlp">MLPClassfier</option>
                                        {#                                        <option value="nusvc">NuSVC</option>#}
                                        <option value="perceptron">Perceptron</option>
                                        <option value="randomforest">RandomForestClassfier</option>
                                        <option value="sgd">SGDClassfier</option>
                                        <option value="svc">SVC</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="smart-form">
                                <section>
                                    <label class="label">모델 유형</label>
                                    <div class="inline-group">
                                        <label class="radio">
                                            <input type="radio" name="modelCategory" value="classifier"
                                                   checked="checked">
                                            <i></i>분류</label>
                                        <label class="radio">
                                            <input type="radio" name="modelCategory" value="regression">
                                            <i></i>회귀</label>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab3">
                    <br>
                    <h3><strong>Step 3</strong> - CSV 설정</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="smart-form">
                                <section>
                                    <label class="label"><strong>모델 저장</strong></label>
                                    <div class="inline-group">
                                        <label class="radio">
                                            <input type="radio" name="modelCd" value="가망 고객 분석" checked="checked">
                                            <i></i>가망 고객 분석</label>
                                        <label class="radio">
                                            <input type="radio" value="고객 반응 분석" name="modelCd">
                                            <i></i>고객 반응 분석</label>
                                        <label class="radio">
                                            <input type="radio" value="이탈 고객 분석" name="modelCd">
                                            <i></i>이탈 고객 분석</label>
                                        <label class="radio">
                                            <input type="radio" value="민원 고객 분석" name="modelCd">
                                            <i></i>민원 고객 분석</label>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="smart-form">
                                <section>
                                    <label class="label"><strong>학습 컬럼 선택</strong></label>
                                    <div class="inline-group" id="learningArea">
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="smart-form">
                                <section>
                                    <label class="label"><strong>예측 컬럼 선택</strong></label>
                                    <div class="inline-group" id="predictionArea">
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div id="csvGrid">
                    </div>
                </div>
                <div class="tab-pane" id="tab4">
                    <br>
                    <h3><strong>Step 4</strong> - 설정 완료</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="smart-form">
                                <label class="label">FILE NAME</label>
                                <label class="input">
                                    <i class="icon-append fa fa-tag"></i>
                                    <input type="text" name="filePath_D" id="filePath_D" disabled="disabled">
                                </label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="smart-form">
                                <label class="label">모델명</label>
                                <label class="input">
                                    <i class="icon-append fa fa-tag"></i>
                                    <input type="text" name="modelName_D" id="modelName_D" disabled="disabled">
                                </label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="smart-form">
                                <label class="label">모델 유형</label>
                                <label class="input">
                                    <i class="icon-append fa fa-tag"></i>
                                    <input type="text" name="modelCategory_D" id="modelCategory_D" disabled="disabled">
                                </label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="smart-form">
                                <label class="label">학습 컬럼</label>
                                <label class="input">
                                    <i class="icon-append fa fa-tag"></i>
                                    <input type="text" name="learningColumn_D" id="learningColumn_D"
                                           disabled="disabled">
                                </label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="smart-form">
                                <label class="label">예측 컬럼</label>
                                <label class="input">
                                    <i class="icon-append fa fa-tag"></i>
                                    <input type="text" name="predictionColumn_D" id="predictionColumn_D"
                                           disabled="disabled">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions" style="margin-bottom:0px;">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="pager wizard no-margin no-steps-container">
                                <li class="previous">
                                    <a href="javascript:void(0);" class="btn btn-default txt-color-darken">
                                        Previous </a>
                                </li>
                                <li class="next">
                                    <a href="javascript:void(0);" id="nextButton"
                                       class="btn btn-default txt-color-darken"> Next </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">Diquest<span class="hidden-xs"> - TA 1.0</span> © 2019</span>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename = 'jquery/js/jquery.min.js') }}"></script> <!-- jquery v2.2.4 -->
<script src="{{ url_for('static', filename = 'jquery/js/jquery.mb.browser.min.js') }}"></script>
<!-- browser msie issue fix -->

<script src="{{ url_for('static', filename = 'smartadmin/js/pace.min.js') }}"
        data-pace-options='{"restartOnRequestAfter": true }'></script> <!-- PACE LOADER -->
<script src="{{ url_for('static', filename = 'smartadmin/js/jquery-ui.min.js') }}"></script> <!-- jquery-ui v1.12.1 -->
<script src="{{ url_for('static', filename = 'smartadmin/js/app.config.js') }}"></script> <!-- IMPORTANT: APP CONFIG -->

<script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap.min.js') }}"></script> <!-- Bootstrap v3.3.7 -->
<script src="{{ url_for('static', filename = 'smartadmin/js/SmartNotification.min.js') }}"></script>
<!-- CUSTOM NOTIFICATION -->
<script src="{{ url_for('static', filename = 'smartadmin/js/jarvis.widget.min.js') }}"></script> <!-- JARVIS WIDGETS -->
<script src="{{ url_for('static', filename = 'smartadmin/js/select2.min.js') }}"></script> <!-- JQUERY SELECT2 INPUT -->
<script src="{{ url_for('static', filename = 'smartadmin/js/fastclick.min.js') }}"></script>
<!-- FastClick: For mobile devices -->
<script src="{{ url_for('static', filename = 'smartadmin/js/app.min.js') }}"></script> <!-- MAIN APP JS FILE -->
<script src="{{ url_for('static', filename = 'smartadmin/js/jquery.bootstrap.wizard.min.js') }}"></script>
<!-- wizard JS FILE -->
<script src="{{ url_for('static', filename = 'smartadmin/js/wizard.min.js') }}"></script> <!-- wizard JS FILE -->
<script src="{{ url_for('static', filename = 'jquery/js/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'toast/chart/js/tui-chart-all.js') }}"></script>

<script src="{{ url_for('static', filename = 'toast/grid/js/underscore.js') }}"></script> <!-- TOAST-GRID JS FILE -->
<script src="{{ url_for('static', filename = 'toast/grid/js/backbone.js') }}"></script> <!-- TOAST-GRID JS FILE -->
<script src="{{ url_for('static', filename = 'toast/grid/js/tui-code-snippet.js') }}"></script> <!-- TOAST-GRID JS FILE -->
<script src="{{ url_for('static', filename = 'toast/grid/js/tui-grid.js') }}"></script> <!-- TOAST-GRID JS FILE -->
<!-- Toast-ui chart v3.7.0 -->
<!--[if IE 8]>
	<h1>해당 Browser에서 지원하지 않습니다. Browser를 최신버전으로 업데이트 하세요.</h1>
<![endif]-->

<script>


    let upload_csv_seq = "";
    $(document).ready(function () {
        pageSetUp();

        // line chart
        // 차트가 담길 element
        let line_container = document.getElementById('line-chart-test');
        let line_width = $(line_container).width();
        let line_height = $(line_container).height();
        let line_chart;

        // 차트 data
        function series_line_chart(categories, origin_data, predict_data) {
            let line_data = {
                categories: categories, // ['1월', '2월', '3월', '4월', '5월', '6월'],
                series: [
                    {
                        name: '상담콜 대분류(원본)',
                        data: origin_data
                    },
                    {
                        name: '상담콜 대분류(예측)',
                        data: predict_data
                    }
                ]
            };

            // 차트 options
            let line_options = {
                theme: 'customTheme',
                chart: {
                    width: line_width,
                    height: line_height,
                    title: '라인차트',
                    format: '1'
                },
                xAxis: {
                    title: '콜아이디'
                },
                yAxis: {
                    title: '카테고리',
                },
                series: {
                    // showLabel: true,
                    // zoomable: true,
                    shifting: true
                }
            };

            // 테마 등록
            tui.chart.registerTheme('customTheme', {
                series: {
                    colors: ['#63A69F', '#F2E1AC', '#F2836B', '#F2594B']
                }
            });

            line_chart = tui.chart.lineChart(line_container, line_data, line_options);
            console.log("line_chart: ", line_chart);
        }


        // 실시간 data shift (Toast 자체 error 있음..)
        // var date = 6;
        // chart.on('load', function() {

        // 	setInterval(function() {
        // 		date++;
        // 		chart.addData(date + "월", [500, 200]);
        // 	}, 1000);
        // });


        let bar_container = document.getElementById('bar-chart-test');
        let bar_width = $(bar_container).width();
        let bar_height = $(bar_container).height();
        let bar_chart;

        // 차트 data
        function horizental_bar_chart(report_lable, report_value) {
            let bar_data = {
                categories: report_lable,
                series: [
                    {
                        name: 'precision',
                        data: report_value
                    }
                ]
            };
            let bar_options = {
                chart: {
                    width: bar_width,
                    height: bar_height,
                    title: 'Precision(정밀도): 각 클래스에 속하는 샘플 수의 비율',
                    format: 0.05
                },
                yAxis: {
                    title: 'Class',
                },
                xAxis: {
                    title: 'Precision'
                },
                legend: {
                    align: 'top'
                }
            };

            bar_chart = tui.chart.barChart(bar_container, bar_data, bar_options);
            console.log("bar_chart: ", bar_chart);
        }

        /*
            $(window).resize(function (e) {
                line_chart.resize({
                    width: $(line_container).width(),
                    height: $(line_container).height()
                });

                bar_chart.resize({
                    width: $(bar_container).width(),
                    height: $(bar_container).height()
                });

            });
        */

        $("#widget-grid").hide();

        $(".cancelEvent").click(function () {
            return false;
        })

        $("#loading_oh").hide();

        $('.file-upload-btn').click(function () {
            $('#dialog_simple').dialog('open');
            return false;

        });

        $("#file2").change(function () {
            $("#filePath").val($("#file2")[0].files[0].name);
        });

        $('#dialog_simple').dialog({
            autoOpen: false,
            modal: true,
            width: '40%',
            height: "auto",
            resizable: false,
            title: "CSV 업로드",
            position: {
                my: "center",
                at: "center",
                of: "#main"
            },
            close: function (event, ui) {
                $('#bootstrap-wizard-1').bootstrapWizard('first');
                formReset();
            }
        });

        let $validator = $("#contact-form").validate({
            rules: {
                modelName: {
                    required: true
                },
                modelCategory: {
                    required: true
                },
                classifier_algorithm: {
                    required: true
                }
            },
            messages: {
                modelName: "모델명을 입력해주세요.",
                modelCategory: "모델유형을 선택해주세요.",
                classifier_algorithm: "알고리즘을 선택해주세요."
            },

            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $('#bootstrap-wizard-1').bootstrapWizard({
            'tabClass': 'form-wizard',
            'onNext': function (tab, navigation, index) {
                if (index === 1) {
                    if ($("#file2")[0].files.length > 0) {
                        let ext = $("#file2")[0].files[0]['name'].split('.')[1];
                        if (ext !== 'csv') {
                            alert("확장자 csv 파일 업로드해주세요.");
                            return false;
                        } else {
                            $("#loading_oh").show();
                            let formData = new FormData($('#order-form')[0]);
                            formData.append("fileObj", $("#file2")[0].files[0]);
                            setTimeout(function () {
                                $.ajax({
                                    url: '/fileUpload',
                                    processData: false,
                                    contentType: false,
                                    data: formData,
                                    type: 'POST',
                                    async: false,
                                    success: function (result) {
                                        // 업로드 CSV 전송
                                        fnGrid(result);
                                        stepCheck(index);
                                    }
                                });
                            }, 100); //1000 = 1초

                        }
                    } else {
                        alert("파일을 선택 해주세요.");
                        return false;
                    }
                } else if (index === 2) {
                    const $valid = $("#contact-form").valid();
                    if (!$valid) {
                        $validator.focusInvalid();
                        return false;
                    }
                    stepCheck(index);
                    $('#dialog_simple').dialog({
                        width: 'auto' ,
                        position: {
                            my: "left top",
                            at: "left top",
                            of: "#main"
                        }
                    });
                    setInterval(function() { window.dispatchEvent(new Event('resize')); }, 100);
                } else if (index === 3) {
                    let formData = new FormData();
                    formData.append("model_name", $("#modelName").val());
                    formData.append("model_category", $("input[name=modelCategory]:checked").val());
                    formData.append("model_algorithm", $("#classifier_algorithm").val());
                    formData.append("model_cd", $('input[name="modelCd"]:checked').val());
                    formData.append("model_learning", getLearningColmun());
                    formData.append("model_prediction", $('input[name="prediction-coloumn"]:checked').val());
                    $.ajax({
                        url: "/csvInfoCU",
                        processData: false,
                        contentType: false,
                        data: formData,
                        type: 'POST',
                        async: false,
                        success: function (result) {
                            $("#nextButton").text("Finish");
                            $("#filePath_D").val($("#file2")[0].files[0].name);
                            $("#path").val($("#file2")[0].files[0].name);
                            $("#modelName_D").val($("#modelName").val());
                            $("#modelCategory_D").val($("input[name=modelCategory]:checked").val());
                            $("#learningColumn_D").val(getLearningColmun());
                            $("#train").val(getLearningColmun());
                            $("#predictionColumn_D").val($('input[name="prediction-coloumn"]:checked').val());
                            $("#prediction").val($('input[name="prediction-coloumn"]:checked').val());

                            $('#dialog_simple').dialog({
                                width: '40%',
                                 position: {
                                    of: "#main",
                                    at: "center top",
                                    my: "center top"
                                }
                            });

                            upload_csv_seq = result.COUNT;
                        }
                    });

                    stepCheck(index);
                } else if (index === 4) {
                    $("#loading_oh").show();
                    const model_category = $('input[name="modelCategory"]:checked').val();
                    const model_save = $('input[name="modelCd"]:checked').val();
                    const learning_coloumn = $('input[name="learning-coloumn"]:checked').val();
                    const prediction_coloumn = $('input[name="prediction-coloumn"]:checked').val();

                    let formData = new FormData($('#contact-form')[0]);
                    formData.append("fileObj", $("#file2")[0].files[0]);
                    formData.append("subject", $("#modelName").val());
                    formData.append("classifier_algorithm", $("#classifier_algorithm").val());
                    formData.append("model_save", model_save);
                    formData.append("learning_coloumn", learning_coloumn);
                    formData.append("prediction_coloumn", prediction_coloumn);
                    formData.append("model_seq" , upload_csv_seq);

                    setTimeout(function () {
                        $.ajax({
                            url: model_category,
                            processData: false,
                            contentType: false,
                            data: formData,
                            type: 'POST',
                            enctype: 'multipart/form-data',
                            success: function (result) {
                                // 업로드 CSV 전송
                                console.log(result)
                                series_line_chart(result.recordkey, result.call_l_class_cd, result.predict);
                                horizental_bar_chart(result.report_lable, result.report_value);
                                $('#dialog_simple').dialog('close');
                                $("#loading_oh").hide();
                                $("#fileInfo").show();
                                $("#widget-grid").show();
                            }
                        });
                    }, 100); //1000 = 1초
                    stepCheck(index);
                }
            }
        });


        let fnGrid = function (resultList) {
            let data = [];
            for(var i = 0; i < 6; i++){
                data.push(resultList[i]);
            }
            // 배열 0번째는 columns 명으로 제외
            let columnsName = [];
            let columns = [];

            for(let key in data[0]){
                let columnKey = key;
                columnsName.push(columnKey);
                columns.push({
                    title: columnKey,
                    name: columnKey,
                    sortable:true
                });
            }

            $("#learningArea").empty();
            $("#predictionArea").empty();

            let learningAppenHtml = "";
            $.each(columnsName, function (index, item) {
                learningAppenHtml += "<label class='checkbox'>" +
                    "<input type='checkbox' value='" + item + "' name='learning-coloumn' onChange='changeLearning(\"" + item + "\");'>" +
                    "<i></i>" + item + "</label>";
            });

            let predictionAppenHtml = "";
            $.each(columnsName, function (index, item) {
                predictionAppenHtml += "<label class='checkbox'>" +
                    "<input type='checkbox' value='" + item + "' name='prediction-coloumn' onChange='changePrediction(\"" + item + "\");'>" +
                    "<i></i>" + item + "</label>";
            });
            $("#learningArea").append(learningAppenHtml);
            $("#predictionArea").append(predictionAppenHtml);

            let grid = new tui.Grid({
                el: document.getElementById('csvGrid'),
                width:'auto',
                columns: [],
                data:data
            });
            grid.setColumns(columns);
            $("#loading_oh").hide();
            /*
            let grid;
            let options = {
                enableCellNavigation: true,
                editable: true,
                asyncEditorLoading: false,
                autoEdit: false,
                forceFitColumns: true,
                enableColumnReorder: false,
                multiColumnSort: true
            };

             for (let i = 0; i < data[0].length; i++) {
                columns.push({
                    id: i,
                    name: columnsName[i],
                    field: i,
                    sortable: true,
                    header: {
                        buttons: [
                            {
                                cssClass: "icon-filter-highlight-off",
                                command: "toggle-filter-highlight",
                                tooltip: "Highlight negative numbers."
                            },
                            {
                                cssClass: "icon-value-highlight-off",
                                command: "toggle-value-highlight",
                                tooltip: "Highlight negative numbers."
                            }
                        ]
                    }
                });
            }
            grid = new Slick.Grid("#csvGrid", data, columns, options);
            grid.setSelectionModel(new Slick.RowSelectionModel({selectActiveRow: false}));

            grid.onSort.subscribe(function (e, args) {
                let cols = args.sortCols;
                data.sort(function (dataRow1, dataRow2) {
                    for (let i = 0, l = cols.length; i < l; i++) {
                      let field = cols[i].sortCol.field;
                      let sign = cols[i].sortAsc ? 1 : -1;
                      let value1 = dataRow1[field], value2 = dataRow2[field];
                      let result = (value1 == value2 ? 0 : (value1 > value2 ? 1 : -1)) * sign;
                      if (result != 0) {
                        return result;
                      }
                    }
                    return 0;
                });
              grid.invalidate();
              grid.render();
            });
            */
        }

        // 초기화 function
        let formReset = function () {
            for (let eleNum = 0; eleNum < 4; eleNum++) {
                $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(eleNum).removeClass('complete');
                $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(eleNum).removeClass('active');
                $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(eleNum).children('a').children('.step').html("");
                $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(eleNum).children('a').children('.step').append(eleNum + 1);
            }
            $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(0).addClass('active');
            $("div[id^='tab']").removeClass("active");
            $("#tab1").addClass("active");
            $('form').each(function () {
                this.reset();
            });
            $("#csvGrid").empty();
            grid = null;
        }

        let stepCheck = function (index) {
            $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).addClass('complete');
            $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).find('.step').html('<i class="fa fa-check"></i>');
        }

        let getLearningColmun = function () {
            let learningArray = "";
            for (let i = 0; i < $('input[name="learning-coloumn"]:checked').length; i++) {
                if (i == 0) {
                    learningArray = $('input[name="learning-coloumn"]:checked')[i].value;
                } else {
                    learningArray += "|" + $('input[name="learning-coloumn"]:checked')[i].value;
                }
            }

            return learningArray;
        }
    });

    function changeLearning(checkValue) {
        let predictionCheckbox = $('input[name="prediction-coloumn"]:checked').val();
        if (predictionCheckbox === checkValue) {
            return false;
        }

        predictionCheckbox = $('input[name="prediction-coloumn"]');
        for (let i = 0; i < predictionCheckbox.length; i++) {
            if (predictionCheckbox[i].value === checkValue) {
                if (predictionCheckbox[i].disabled) {
                    predictionCheckbox[i].disabled = false;
                } else {
                    predictionCheckbox[i].disabled = true;
                }

            }
        }
        ;
    }

    function changePrediction(checkValue) {
        let learningCheckbox = $('input[name="learning-coloumn"]');
        for (let i = 0; i < learningCheckbox.length; i++) {
            if (learningCheckbox[i].value === checkValue) {
                learningCheckbox[i].disabled = true;
            } else {
                learningCheckbox[i].disabled = false;
            }
        }
        ;

        let predictionCheckbox = $('input[name="prediction-coloumn"]');
        for (let i = 0; i < predictionCheckbox.length; i++) {
            if (predictionCheckbox[i].value === checkValue) {
                predictionCheckbox[i].checked = true;
            } else {
                predictionCheckbox[i].checked = false;
            }
        }
        ;
    }
</script>
</body>
</html>